* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #C1D0D0;
    font-family: Roboto, Arial, sans-serif;
    
    
  }
 
  .navigation__checkbox {
      display: none;
  }
  
  .navigation__button {
      position: fixed;
      top: 20px;
      left: 85px;
      height: 57px;
      width: 140px;
      border-radius: 25px;
      background: #ebe9e5;
      text-align: center;
      
      z-index: 300;
      cursor: pointer;
      font-size: 15px;
  }
  
  
  .navigation__background {
      position: fixed;
      top: 22px;
      left: 90px;
      height: 40px;
      width: 40px;
      border-radius: 25px;
      background: transparent;
      background-size: cover;
      background-position: center;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  
  .navigation__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      opacity: 0;
      width: 0;
      visibility: hidden;
      z-index: 200;
      transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation__list {
      /*@include center;*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      list-style: none;
  }
  
  .navigation__item {
      margin: 1rem;
  }
  
  .navigation__link:link,
  .navigation__link:visited {
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      color: rgb(235, 191, 191);
      font-size: 35px;
      font-weight: 350;
      text-decoration: none;
      transition: all .2s;
  }
   
  
  .navigation__link:hover {
      color: #fff;
      transform: scale(1.1);
  }
  
  .navigation__checkbox:checked~.navigation__background {
      transform: scale(80);
      background-color: rgb(116, 106, 87, 0.9);
  }
  
  .navigation__checkbox:checked~.navigation__nav {
      width: 100%;
      visibility: visible;
      opacity: 1;
  }
  
  .navigation__icon {
      position: relative;
     
      
  }
  
  
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      display: inline-block;
      background-color: #494235;
      height: 1px;
      width: 20px;
      left: 25px;
     
      
  }
  .navigation__icon{
      margin-top: 25px;
  }
  

  .navigation__icon::before,
  .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 200ms;
  }
  
  .navigation__icon::before {
      top: -.6rem;
  }
  
  .navigation__icon::after {
      top: .6rem;
      
  }
  
  .navigation__button:hover .navigation__icon::before {
      top: -1rem;
      background-color:rgb(238, 225, 225) ;
      
  }
 
  .navigation__button:hover{
    background-color: #746a57;
}
  
  .navigation__button:hover .navigation__icon::after {
      top: 1rem;
      background-color:rgb(238, 225, 225) ;
  }
  .navigation__button:hover .navigation__icon {
    background-color:rgb(238, 225, 225) ;
}
  .navigation__button:hover .di p {
    color:rgb(238, 225, 225) ;
}
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon {
      background-color: transparent;
  }
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg);
      width: 47px;
      
  }
   
  .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg);
      width: 47px;
      
  }
  .navigation__checkbox:checked+ .navigation__button .di p {
     display: none;
  }

  .navigation__checkbox:checked+  .navigation__button{
    background-color: transparent;

}
  .di{
      width: 60px;
      height: 30px;
      right: 0;
      text-align: right;
      
  }.navigation__button{
      display: flex;
      font-size: 20px;
  }
  .di p{
      margin-right: -25px;
      margin-top: 15px;
      font-size: 14px;
      text-transform: uppercase;
      color: #494235;
  }
  .menu{
      display: flex;
      justify-content: space-between;
      position:fixed;
      background-color: transparent;
      height: 100px;
      top: 0;
      width: 100vw;
      transition: all 300ms ease;
  z-index: 10;
  }
  .menu .logo{
      color:  white;
      font-size: 30px;
      text-transform: uppercase;
      padding-top: 25px;
  }
  .menu .phone{
      color: white ;
      padding-top: 35px;
  }
  .menu .phIcon {
    width: 45px;
    height: 45px;
    padding:auto;
    background-color:  white;
    border-radius: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    padding-top: 8px;
    margin-right: 25px;
  }
  .menu .phIcon svg {
      color: rgb(116, 106, 87);
      
  }

  .content{
      width: 100%;
      overflow: hidden;
  }
 
  .opinion{
      padding-top: 120px;
      width: 100%;
      background-color: rgb(39, 34, 33);
      text-align: center;
      height: 1300px;
  }
  .opinionText{
      position: relative;
      width: 60%;
      color: rgb(235, 191, 191);
      margin: 30px;
      font-size: 35px;
      text-transform: uppercase;
      top: -900px;
      text-align: left;
      margin-left: 27%;  
    }
  .arch{
      text-align: left;
      margin: 30px auto;
      width: 300px;
      font-size: 14px;
  }
  #nameArch{
      color:rgb(235, 191, 191);
  }
  #job{
     color: #494235; 
  }
  .opinion img{
      width: 40%;
      margin-top: 180px;
      margin-left: 27%;
  }
  .kamen{
    width: 100%;
    font-size: 29vw;
    margin-top: -620px;
    
  }
  .kamen p{
   width: 90vw;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #494235;
}
#ivan{
    width: 25%;
    margin-left: 10%;
    padding-top: 100px;
}
.teraces{
    padding-top: 200px;
    background-color: #746a57;
    width: 100%;
    padding-bottom: 8px;
    display: flex;
    
}

.ter{
    padding-left: 8%;
    font-size: 200px;
    z-index: -1;
    width: 55%;
  }
  .ter p{    
  color: rgba(196,159,138,255);
  text-transform: uppercase;
  line-height: 250px;
  position: relative;
  font-weight: 350;
  top: 10vh;
}
.ter p::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    left: 100%;
    top:-10%;
}

.ter p::after{
    content: "Ter-\A races";
    white-space: pre;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgba(196,159,138,255);
    -webkit-text-fill-color: transparent;
}
.ter1{
    padding-top: 60px;
    margin-right: 18%;
   
}
.ter2{
    width: 500px;
     right: 0;
}

.ter2 img{
    width: 500px;
    
}
.ter3{
    position: relative;
    width: 40vw;
    height: 50vh;
    left: 18vw;
    top: -43vw;
    z-index: 0;
}
.ter3 img{
    width: 35vw;
    height: 60vh;
}



  /*-----------------------*/
  
  
  /*
  
  cream: rgb(238, 225, 225);
  brown: #494235;  rgb(116, 106, 87)
  pink: rgb(235, 191, 191)
  */
.ob{
    height: 100vh;
    background-color: rgb(116, 106, 87, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
}
  .square{
    width: 32%;
    height: 66.5vh;
    background-color: rgba(196,159,138,255);
    position: absolute;
    left: 68%;
    z-index: 1;
    top: 33.5vh;
    
}
.slider{
    width: 70vw;
    position: relative;
    top: 0;
    z-index: 0;
    height: 100vh;
}


.slider-img{
    width: 80vw;
    height: 100%;
}

#op{
    width: 60px;
    border-radius: 50%;
   
}
#right:hover{
    color: rgb(110, 85, 85);
}


.bb{
    width: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    top: 380px;
    left: 60px;
}
 #text{
     color: white;
     margin-top: 9vh;
      margin-left: 3vw;
      margin-bottom: 20px;
      font-size: 1vw;
      text-transform: uppercase;
  }
  #text2{
    color: rgb(83, 73, 54);
    margin-left: 3vw;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    padding-right: 15px;
}
.square svg{
    color:#494235 ;
}


.byCar{
    padding-top: 130px;
    background-color: #e9ebeb;
}
.byCar #col1{
    padding-left: 10%;
}

.byCar img{
    width: 250px;
    margin-left: 30%;
    margin-top: -80px;
}
.byCar #byCar{
    font-size: 15vmin;
    text-transform: uppercase;
    color: rgb(189, 151, 144);
    font-weight: 350;
    line-height: 15vmin;
}
.byCar #col2 p{
    font-size: 10vmin;
    color: #494235;
    font-weight: 350;
}
.byCar #col2 p span{
    font-size: 2vmin;
    text-transform: uppercase;
    padding-left: 10%;
    
}
.words{
    padding-top: 100px;
    width: 100%;
    background-color: #e9ebeb;
    overflow-y: hidden;
    overflow: hidden;
    font-weight: 320;
    font-size: 6vw;
    line-height: 6vw;
    color: rgb(189, 151, 144);
}

#ev, #ev1, #ev2{
    position: relative;
    left: -8%;
}
#yn, #yn1{
    position: relative;
    left: 63%;
}

.footer{
    width:100%;
    height: 550px;
    background-color:rgb(39, 34, 33);
   display: flex;
}
.footer >div{
    padding-top: 70px;
    padding-left: 75px;

   width: 550px;
}
.footer h2{
color: rgb(224, 224, 224);
font-size: 14px;
padding-bottom: 20px;

}
.footer h4{
    color: rgb(235, 235, 235);
    font-size: 14px;
 }
.footer h3{
    color: rgb(116, 106, 87);
    font-size: 14px;    
    padding-bottom: 10px;
    padding-top: 50px;
}
.footer h1{
    color:rgb(221, 180, 180);
    font-size: 14px;
}
.footer div{
    color:rgb(116, 106, 87);
    font-size: 10px;
}

@media(max-width: 700px){
    .di{
        display: none;
    } 
    .navigation__button{
        width: 57px;
        border-radius: 50%;
        left: 25px;
    } 
    .navigation__background{
        left: 28px;
    }
    .navigation__icon,
      .navigation__icon::before,
      .navigation__icon::after {
          width: 15px;
          left: 22px;
         }  
    .navigation__icon::before{
          width: 15px;
          left: 0px;
     } 
    .navigation__icon::after {
             width: 15px;
             left: 0px;
            
    }
    .logo{
        padding-left: 90px;
    }
    .phone{
        display: none;
    }   
    .navigation__list{
        padding-left: 0;
    }
    
  .content{
      height: 84.1%;
  }
    .square{
      width: 72%;
      height: 43.5vh;
      left: 28%;
      top: 40.5vh;
      
  }
  
  .slider-img{
      width: 100vw;
      height: 50vh;
  }
  
  .bb{
      top: 30vh;
      left: 50px;
  }
  #right{
      width: 7vw;
      height: 7vh;
  }
   #text{
       margin-top: 6vh;
    font-size: 2.5vh;

    }
    #text2{
        font-size: 1.4vh;
    }

  .opinion{
    height: 1000px;
}

.opinionText{
    top: -70vh;
    margin-left: 15%;
    font-size: 25px;
  }
.arch{
    margin-left: 15%;
}

.opinion img{
    width: 45%;
    margin-top: 200px;
    margin-left: 27%;
}
.kamen{
    display: none;
  
}

#ivan{
  width: 35%;
  margin-left: 10%;
  padding-top: 0px;
}


.teraces{
  padding-top: 100px;
  height: 550px;
}

.ter{
  padding-left: 2%;
  font-size: 13vw;
}
.ter p{    
line-height: 100px;
}
.ter1{
  padding-top: 60px;
 
}
.ter2{
  width: 100%;
}

.ter2 img{
  width: 100%;
  
}
.ter3{
  left: 18vw;
  top: -50vw;
}
.ter3 img{
  width: 35vw;
  height: 30vh;
}
  
.byCar #col1{
    padding-left: 5%;
}

.byCar img{
    width: 25vw;
}
.byCar #col2 p span{
    font-size: 2vmin;
    text-transform: uppercase;
    padding-left: 0%;
    
}

.words{
    font-size: 6vw;
}

#ev, #ev1, #ev2{
    width: 1000px;
    left: -5%;
}
#yn, #yn1{
    left: 60%;
}

    
    
    
    
    .footer{
        height: 450px;
    }
    .footer >div{
        padding-left: 20px;
    }
    #rp{
        padding-right: 20px;
    }
    }